<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KG-LLM: 知识问答</title>
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    {% include 'nav.html' with nav_class='fixed' %}
    <div class="content">
        <div class="chat-container">
            <div class="chat-box" id="chat-box"></div>
            <div class="input-box">
                <input type="text" id="user-input" placeholder="请输入您的问题..." />
                <button id="send-btn">提交</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#send-btn').click(function() {
                var userInput = $('#user-input').val();
                if (userInput.trim() === '') return;

                $('#chat-box').append('<div class="message user-message">' + userInput + '</div>');

                $.ajax({
                    url: '/kgqa/',
                    type: 'POST',
                    data: {
                        'question': userInput,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('#chat-box').append('<div class="message bot-message">' + response.answer + '</div>');
                        $('#user-input').val('');
                        $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);
                    }
                });
            });
        });
    </script>
</body>
</html>
