<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KG-LLM</title>
    <link rel="stylesheet" href="../static/css/body.css">
    <style>
        .content {
            padding-top: 60px;
            margin-left: 30px;
            margin-right: 30px;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}

    <div class="content">
        <h1 style="color: white">
            Welcome{% if user %}, {{ user.name }}{% endif %}
        </h1>
    </div>
</body>
</html>
